Source: sekai
Priority: optional
Maintainer: Tobias Platen <tobias@platen-software.de>
Build-Depends: debhelper (>= 8.0.0), cmake, libworld-dev, libsndfile-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://notabug.org/isengaara/sekai

Package: libsekai-dev
Section: libdevel
Architecture: any
Depends: libsekai0 (= ${binary:Version})
Description: addon for WORLD speech toolkit

Package: libsekai0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: addon for WORLD speech toolkit
